<div class="map">

    <p-toolbar styleClass="p-2 border-round-lg">
        <div class="p-toolbar-group-start gap-2">
            <p-button (onClick)="inventoryDialog.visible = true"
                      [disabled]="userRole !== 'rescuer'"
                      icon="pi pi-arrow-right-arrow-left"
                      label="Manage Inventory"></p-button>
        </div>
    </p-toolbar>

    <div class="inline-flex gap-3" [style]="{'height': '84vh'}">

        <div class="col-8 p-1 border-round-lg bg-white">
            <div id="map" class="col-8 border-round-lg"></div>
        </div>

        <div class="col p-1 border-round-lg bg-white">
            <p-tabView>
                <p-tabPanel header="Item Requests">
                    <app-item-requests [itemRequests]="(itemRequests$ | async) ?? []" [items]="(items$ | async) ?? []"></app-item-requests>
                </p-tabPanel>

                <p-tabPanel header="Item Offers">
                    <app-item-offers [itemOffers]="(itemOffers$ | async) ?? []" [items]="(items$ | async) ?? []"></app-item-offers>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>

<p-dialog #inventoryDialog header="Inventory" [(visible)]="inventoryDialog.visible" [style]="{'width': '40vw'}">
    <app-inventory [items]="(items$ | async) ?? []" [user]="user"></app-inventory>
</p-dialog>