<router-outlet></router-outlet>

<p-toast position="bottom-center"></p-toast>

<p-confirmDialog [closable]="false"
                 acceptLabel="Yes"
                 rejectLabel="No"
                 acceptIcon="pi pi-check pr-2"
                 rejectIcon="pi pi-times pr-2"
                 acceptButtonStyleClass="p-button-primary"
                 rejectButtonStyleClass="p-button-danger p-button-outlined"
                 icon="pi pi-exclamation-triangle"/>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>