<div class="warehouse">

    <p-toolbar styleClass="p-2 border-round-lg">
        <div class="p-toolbar-group-start gap-2">
            <p-button (onClick)="onCreateItemClick()" label="Create" icon="pi pi-plus"></p-button>
            <p-button (onClick)="onDeleteItemsClick()"
                      [disabled]="selectedItems.length === 0"
                      label="Delete"
                      icon="pi pi-trash"
                      severity="danger"></p-button>
        </div>
        <div class="p-toolbar-group-end gap-2">
            <p-fileUpload #fileUpload
                          (onSelect)="onImportClick($event); fileUpload.clear()"
                          [fileLimit]="1"
                          [customUpload]="true"
                          accept=".json"
                          chooseIcon="pi pi-upload"
                          chooseLabel="Import"
                          mode="basic"
                          name="file"/>

            <p-button (onClick)="onExportClick()" label="Export" icon="pi pi-download"></p-button>
        </div>
    </p-toolbar>

    <p-table [(selection)]="selectedItems"
             [scrollable]="true"
             [sortOrder]="-1"
             [tableStyle]="{'min-width': '80rem'}"
             [value]="(items$ | async) ?? []"
             dataKey="id"
             scrollHeight="78vh"
             sortField="updatedAt"
             sortMode="single"
             class="bg-white border-round-lg p-2"
             styleClass="p-datatable-sm p-datatable-gridlines">

        <ng-template pTemplate="header">
            <tr>
                <th>
                    <p-tableHeaderCheckbox/>
                </th>
                <th pSortableColumn="code" style="width: calc(100% / 6)">Code
                    <p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="name" style="width: calc(100% / 6)">Name
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="category.name" style="width: calc(100% / 6)">Category
                    <p-sortIcon field="category.name"></p-sortIcon>
                </th>
                <th pSortableColumn="quantity" style="width: calc(100% / 6)">Quantity
                    <p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="createdAt" style="width: calc(100% / 6)">Created At
                    <p-sortIcon field="createdAt"></p-sortIcon>
                </th>
                <th pSortableColumn="updatedAt" style="width: calc(100% / 6)">Updated At
                    <p-sortIcon field="updatedAt"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <p-tableCheckbox [value]="item"/>
                </td>

                <td [pTooltip]="item.code" [tooltipOptions]="tooltipOptions" class="table-cell">{{ item.code }}</td>

                <td [pTooltip]="item.name" [tooltipOptions]="tooltipOptions" class="table-cell">{{ item.name }}</td>

                <td [pTooltip]="item.category.name" [tooltipOptions]="tooltipOptions" class="table-cell">{{ item.category.name }}</td>

                <td [pTooltip]="item.quantity" [tooltipOptions]="tooltipOptions" class="table-cell">
                    <p-tag [severity]="item.quantity | quantityStatus: 'severity'" styleClass="text-white">
                        <div class="flex align-items-center gap-2 p-1">
                            <span class="font-bold"> {{ item.quantity | quantityStatus: 'message' }}</span>
                            <span class="font-bold surface-100 bg-black-alpha-20 border-round px-2 py-1">{{ item.quantity }}</span>
                        </div>
                    </p-tag>
                </td>

                <td [pTooltip]="(item.createdAt | date: 'medium')?.toString()"
                    [tooltipOptions]="tooltipOptions"
                    class="table-cell">{{ item.createdAt | date: 'short' }}
                </td>

                <td [pTooltip]="(item.updatedAt | date: 'medium')?.toString()"
                    [tooltipOptions]="tooltipOptions"
                    class="table-cell">{{ item.updatedAt | date: 'short' }}
                </td>

                <td class="text-center">
                    <p-button (onClick)="onUpdateItemClick(item)"
                              icon="pi pi-pencil"
                              styleClass="p-button-outlined p-button-rounded p-button-sm mr-1"></p-button>

                    <p-button (onClick)="onDeleteItemClick(item.id)"
                              icon="pi pi-trash"
                              styleClass="p-button-danger p-button-outlined p-button-rounded p-button-sm ml-1"></p-button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="footer">
            <tr>
                <td colspan="7">Total Items: {{ (items$ | async)?.length }}</td>
                <td class="text-right">
                    <p-button (onClick)="onReloadClick()"
                              label="Reload"
                              styleClass="p-button-outlined p-button-sm"
                              icon="pi pi-refresh"></p-button>
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>

<p-dialog [(visible)]="itemDialogVisible" [closable]="false" [modal]="true" [style]="{width: '30rem', 'max-height': '60vh'}">
    <ng-template pTemplate="headless">
        <form [formGroup]="itemForm" class="app-form grid">

            <h1 class="app-form__heading col-12">Add Item</h1>

            <div class="app-form__field col-4">
                <label for="code" class="app-form__field__label">Code</label>
                <input pInputText type="text" id="code" formControlName="code" class="app-form__field__input">
            </div>

            <div class="app-form__field col">
                <label for="name" class="app-form__field__label">Name</label>
                <input pInputText type="text" id="name" formControlName="name" class="app-form__field__input">
            </div>

            <div class="app-form__field col-8">
                <label for="category" class="app-form__field__label">Category</label>
                <p-dropdown [options]="(categories$ | async) ?? []"
                            [filter]="true"
                            class="w-11"
                            formControlName="category"
                            id="category"
                            optionLabel="name"
                            optionValue="id"
                            placeholder="Select a category"
                            styleClass="w-full"></p-dropdown>
            </div>

            <div class="app-form__field col">
                <label for="quantity" class="app-form__field__label">Quantity</label>
                <p-inputNumber [min]="0" [step]="1" formControlName="quantity" id="quantity" inputStyleClass="w-full"></p-inputNumber>
            </div>

            <div class="app-form__field col-12">
                <label for="details" class="app-form__field__label">Details</label>

                <div id="details" formArrayName="details" class="overflow-y-auto max-h-8rem h-8rem">
                    <div *ngFor="let detailForm of this.itemForm.controls.details.controls; index as i" class="mb-2">
                        <div class="flex gap-2" [formGroup]="detailForm">
                            <input pInputText type="text" formControlName="name" placeholder="Name" class="app-form__field__input">
                            <input pInputText type="text" formControlName="value" placeholder="Value" class="app-form__field__input">
                            <p-button (onClick)="onRemoveItemDetailClick(i)"
                                      icon="pi pi-minus"
                                      [outlined]="true"
                                      severity="danger"></p-button>
                        </div>
                    </div>

                    <div class="flex justify-content-center">
                        <p-button (onClick)="onAddItemDetailClick()" [outlined]="true" icon="pi pi-plus"></p-button>
                    </div>

                </div>
            </div>

            <div class="app-form__buttons col-12">
                <p-button (onClick)="onCancelClick()"
                          icon="pi pi-times"
                          label="Cancel"
                          styleClass="p-button-outlined p-button-danger"></p-button>
                <p-button (onClick)="onSubmitClick()"
                          [disabled]="!itemForm.valid || !itemForm.dirty"
                          icon="pi pi-check"
                          label="Submit"></p-button>
            </div>

        </form>
    </ng-template>
</p-dialog>

