<div class="profile">
    <h2 class="profile__title">Your Profile</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <!-- Username Field -->
        <div class="profile__field">
            <label for="username" class="profile__field-label">Username</label>
            <input id="username" type="text" pInputText formControlName="username" class="profile__field-input">
        </div>

        <!-- Email Field -->
        <div class="profile__field">
            <label for="email" class="profile__field-label">Email</label>
            <input id="email" type="email" pInputText formControlName="email" class="profile__field-input">
        </div>

        <!-- Password Field -->
        <div class="profile__field">
            <label for="password" class="profile__field-label">Password</label>
            <p-password [toggleMask]="true"
                        placeholder="Enter a new password"
                        id="password"
                        formControlName="password"
                        styleClass="w-full"
                        inputStyleClass="w-full"></p-password>
        </div>

        <!-- Submit Button -->
        <div class="profile__buttons">
            <p-button [disabled]="!profileForm.dirty" type="submit" label="Update"></p-button>
            <p-button (onClick)="onCancelClick()" type="button" label="Cancel" styleClass="p-button-outlined"></p-button>
        </div>
    </form>
</div>
