<div class="profile">
    <h2 class="profile__title">Your Profile</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <!-- Username Field -->
        <div class="profile__field">
            <label for="username" class="profile__field-label">Username</label>
            <input id="username" type="text" pInputText formControlName="username" class="profile__field-input">
        </div>

        <!-- Email Field -->
        <div class="profile__field">
            <label for="email" class="profile__field-label">Email</label>
            <input [readonly]="true" id="email" type="email" pInputText formControlName="email" class="profile__field-input">
        </div>

        <!-- Password Field -->
        <div class="profile__field">
            <label for="password" class="profile__field-label">Password</label>
            <p-password [toggleMask]="true"
                        placeholder="Enter a new password"
                        id="password"
                        formControlName="password"
                        styleClass="w-full"
                        inputStyleClass="w-full"></p-password>
        </div>

        <!-- First Name Field -->
        <div class="profile__field">
            <label for="firstName" class="profile__field-label">First Name</label>
            <input id="firstName" type="text" pInputText formControlName="firstName" class="profile__field-input">

        </div>

        <!-- Last Name Field -->
        <div class="profile__field">
            <label for="lastName" class="profile__field-label">Last Name</label>
            <input id="lastName" type="text" pInputText formControlName="lastName" class="profile__field-input">
        </div>

        <!-- Phone Field -->
        <div class="profile__field">
            <label for="phone" class="profile__field-label">Phone</label>
            <input id="phone" type="text" pInputText formControlName="phone" class="profile__field-input">
        </div>

        <!-- Buttons -->
        <div class="profile__buttons">
            <p-button [disabled]="!userForm.dirty" type="submit" label="Update"></p-button>
            <p-button (onClick)="onCancelClick()" type="button" label="Cancel" styleClass="p-button-outlined"></p-button>
        </div>
    </form>
</div>
