<div class="profile">
    <form [formGroup]="userForm" [style]="{width: '30rem'}" (ngSubmit)="onSubmit()" class="app-form">
        <h1 class="app-form__heading col-12">Profile</h1>

        <!-- Username Field -->
        <div class="app-form__field col-12">
            <label for="username" class="app-form__field__label">Username</label>
            <input id="username" type="text" pInputText formControlName="username" class="app-form__field__input">
        </div>

        <!-- Email Field -->
        <div class="app-form__field col-12">
            <label for="email" class="app-form__field__label">Email</label>
            <input id="email" type="text" pInputText formControlName="email" class="app-form__field__input">
        </div>

        <!-- First Name Field -->
        <div class="app-form__field col" formGroupName="details">
            <label for="firstName" class="app-form__field__label">First Name</label>
            <input id="firstName" type="text" pInputText formControlName="firstName" class="app-form__field__input">
        </div>

        <!-- Last Name Field -->
        <div class="app-form__field col" formGroupName="details">
            <label for="lastName" class="app-form__field__label">Last Nane</label>
            <input id="lastName" type="text" pInputText formControlName="lastName" class="app-form__field__input">
        </div>

        <!-- Phone Number Field -->
        <div class="app-form__field col-12" formGroupName="details">
            <label for="phoneNumber" class="app-form__field__label">Phone Number</label>
            <input id="phoneNumber" type="text" pInputText formControlName="phoneNumber" class="app-form__field__input">
        </div>

        <!-- Buttons -->
        <div class="app-form__buttons col-12">
            <p-button [disabled]="!userForm.valid || userForm.pristine" icon="pi pi-user-edit" label="Update" type="submit"></p-button>
        </div>
    </form>
</div>