@import "colors";

.create-announcement {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border: 10px solid green; // TODO: remove me
}