<div class="login">
    <form [formGroup]="loginForm" [style]="{width: '25rem'}" (ngSubmit)="onSubmit()" class="app-form">
        <h1 class="app-form__heading col-12">Login</h1>

        <!-- Username Field -->
        <div class="app-form__field col-12">
            <label for="username" class="app-form__field__label">Username</label>
            <input id="username" type="text" pInputText formControlName="username" class="app-form__field__input">
        </div>

        <!-- Password Field -->
        <div class="app-form__field col-12">
            <label for="password" class="app-form__field__label">Password</label>
            <p-password [feedback]="false"
                        [toggleMask]="true"
                        id="password"
                        formControlName="password"
                        styleClass="w-full"
                        inputStyleClass="w-full"></p-password>
        </div>

        <!-- Buttons -->
        <div class="app-form__buttons col-12">
            <p-button [disabled]="!loginForm.valid" type="submit" label="Login" icon="pi pi-check" iconPos="right"></p-button>
            <p-button (onClick)="onCancelClick()"
                      type="button"
                      label="Cancel"
                      styleClass="p-button-outlined"
                      icon="pi pi-times"
                      iconPos="right"></p-button>
        </div>
    </form>
</div>


