@import "colors";

.login {
  height: 100%;
  padding-inline: 35%;
  padding-top: 10%;
  background-color: $color-background;

  &__title {
    text-align: center;
  }

  &__field {
    padding: 0.5rem;
    background-color: darken($color-background, 20%);
    margin-bottom: 1rem;
    border-radius: 0.5rem;

    &-label {
      display: block;
      margin-bottom: 0.5rem;
    }

    &-input {
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}