@import "colors";

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: $color-background;
  gap: 2rem;

  &__heading {
    color: $color-text-dark;
    font: {
      size: 8rem;
      weight: bold;
    }
  }

  &__subheading {
    color: $color-text-dark;
    font: {
      size: 3rem;
      weight: bold;
    }
  }
}