<div class="register">

    <!-- Register Form -->
    <form (ngSubmit)="onSubmit()" [style]="{width: '25rem'}" [formGroup]="registerForm" class="app-form">
        <h1 class="app-form__heading col-12">Register</h1>

        <!-- Username Field -->
        <div class="app-form__field col-12">
            <label class="app-form__field__label" for="username">Username</label>
            <input class="app-form__field__input" formControlName="username" id="username" pInputText type="text">
        </div>

        <!-- Email Field -->
        <div class="app-form__field col-12">
            <label class="app-form__field__label" for="email">Email</label>
            <input class="app-form__field__input" formControlName="email" id="email" pInputText type="email">
        </div>

        <!-- Password Field -->
        <div class="app-form__field col-12">
            <label for="password" class="app-form__field__label">Password</label>
            <p-password [toggleMask]="true"
                        id="password"
                        formControlName="password"
                        styleClass="w-full"
                        inputStyleClass="w-full"></p-password>
        </div>

        <!-- Password Confirmation Field -->
        <div class="app-form__field col-12">
            <label for="passwordConfirm" class="app-form__field__label">Password Confirmation</label>
            <p-password [toggleMask]="true"
                        [feedback]="false"
                        id="passwordConfirm"
                        formControlName="passwordConfirm"
                        styleClass="w-full"
                        inputStyleClass="w-full"></p-password>
        </div>

        <!-- Buttons -->
        <div class="app-form__buttons col-12">
            <p-button (onClick)="onCancelClick()" [outlined]="true" icon="pi pi-times" label="Cancel" type="button"></p-button>
            <p-button [disabled]="!registerForm.valid" icon="pi pi-check" label="Register" type="submit"></p-button>
        </div>
    </form>
</div>
