<div class="register">
    <h2 class="register__title">Register</h2>
    <form [formGroup]="registerForm">
        <!-- Username Field -->
        <div class="register__field">
            <label for="username" class="register__field-label">Username</label>
            <input id="username" type="text" pInputText formControlName="username" class="register__field-input">
        </div>

        <!-- Email Field -->
        <div class="register__field">
            <label for="email" class="register__field-label">Email</label>
            <input id="email" type="email" pInputText formControlName="email" class="register__field-input">
        </div>

        <!-- Password Field -->
        <div class="register__field">
            <label for="password" class="register__field-label">Password</label>
            <input id="password" type="password" pPassword formControlName="password" class="register__field-input">
        </div>

        <!-- Password Confirmation Field -->
        <div class="register__field">
            <label for="passwordConfirmation" class="register__field-label">Password Confirmation</label>
            <input id="passwordConfirmation" type="password" pPassword formControlName="passwordConfirmation" class="register__field-input">
        </div>

        <!-- Submit Button -->
        <div class="register__buttons">
            <p-button (onClick)="onRegisterClick()" type="submit" label="Register"></p-button>
            <p-button routerLink="" type="submit" label="Cancel" styleClass="p-button-outlined"></p-button>
        </div>
    </form>
</div>
