<div class="flex flex-column gap-2">
    <div class="flex gap-2 align-items-center m-0">
        <span class="text-base font-bold">Submitted By:</span>
        <span class="text-base">{{ itemOffer.citizen | userName }}</span>
    </div>
    <div class="flex gap-2 align-items-center m-0">
        <span class="text-base font-bold">Submitted At:</span>
        <span class="text-base">{{ itemOffer.createdAt | date: 'medium' }}</span>
    </div>
    <div *ngIf="itemOffer.rescuer" class="flex gap-2 align-items-center m-0">
        <span class="text-base font-bold">Accepted By:</span>
        <span class="text-base">{{ itemOffer.rescuer! | userName }}</span>
    </div>
    <div *ngIf="itemOffer.rescuer" class="flex gap-2 align-items-center m-0">
        <span class="text-base font-bold">Accepted At:</span>
        <span class="text-base">{{ itemOffer.acceptedAt | date: 'medium' }}</span>
    </div>
</div>